.grow-student-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 40px;
  flex-wrap: wrap;
}

.grow-student-card {
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
}

.grow-student-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.grow-student-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  border-radius: 10px;
}
